@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items;
@using Sitecore.Data.Managers;
@model RenderingModel
@{
  var allProductsItem = Sitecore.Context.Database.Items.GetItem("/sitecore/Content/BMW/All Products");
  var products = new List<Item>(allProductsItem.Children);

  var germanProducts = Sitecore.Context.Database.Items.GetItem("/sitecore/Content/BMW/German Products");
  var russianProducts = Sitecore.Context.Database.Items.GetItem("/sitecore/Content/BMW/Russian Products");

  var contextLanguageId = LanguageManager.GetLanguageItemId(Sitecore.Context.Language, Sitecore.Context.Database);
  var contextLanguage = Sitecore.Context.Database.GetItem(contextLanguageId);
  var iso = contextLanguage["Regional Iso Code"];
  if (string.IsNullOrEmpty(iso))
  {
    iso = contextLanguage["Iso"];
  }
}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="../../../Css/style.css">
  <link rel="icon" href="../../../wwwroot/bmw_logo.ico">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
  <title>@Html.Sitecore().Field("Page Title", allProductsItem, new { DisableWebEdit = true })</title>
</head>

<body>
  @* Header *@
  <div>
    @Html.Sitecore().Rendering("{D67FE4A6-F41D-4A5D-8D04-2E728C22E1FF}")
  </div>
  <br />

  <div>
    <h1 style="text-align: center;">@Html.Sitecore().Field("Page Title", allProductsItem)</h1>
    <br />

    <table id="data" class="display" style="width:100%">
      <thead>
        <tr>
          <th>Image</th>
          <th>Mark</th>
          <th>Price</th>
          <th>Year</th>
          <th>Country</th>
        </tr>
      </thead>
      <tbody>
        @foreach (var product in products)
        {
          if (Html.Sitecore().Field("Price", product).ToString().Contains("Not available 🛑") ||
          string.IsNullOrEmpty(Html.Sitecore().Field("Mark", product).ToString()))
          {
            continue;
          }

          <tr>
            <td style="text-align:center">@Html.Sitecore().Field("Image", product, new { mh = 200, mw = 300 })</td>

            <td style="text-align:center">
              <a href="@Sitecore.Links.LinkManager.GetItemUrl(product)">@Html.Sitecore().Field("Mark", product)</a>
            </td>

            <td style="text-align:center">@Html.Sitecore().Field("Price", product)</td>
            <td style="text-align:center">@Html.Sitecore().Field("Year", product)</td>
            <td style="text-align:center">@Html.Sitecore().Field("Country", product)</td>
          </tr>
        }
      </tbody>
      <tfoot>
        <tr>
          <th>Image</th>
          <th>Mark</th>
          <th>Price</th>
          <th>Year</th>
          <th>Country</th>
        </tr>
      </tfoot>
    </table>
  </div>
  <br />

  @* Products by country *@
  @if (iso == "ru-RU")
  {
    if (!string.IsNullOrEmpty(Html.Sitecore().Field("Page Title", russianProducts).ToString()))
    {
      <div style="text-align: center; margin-bottom: 50px">
        <h1>Машины из вашей страны</h1>
        <br />

        <a href="@Sitecore.Links.LinkManager.GetItemUrl(russianProducts)">
          @Html.Sitecore().Field("Country Flag", russianProducts, new { mh = 100, mw = 100 })
        </a>
      </div>
    }
  }
  else if (iso == "en")
  {
    if (!string.IsNullOrEmpty(Html.Sitecore().Field("Page Title", germanProducts).ToString()))
    {
      <div style="text-align: center; margin-bottom: 50px">
        <h1>Products from your country</h1>
        <br />

        <a href="@Sitecore.Links.LinkManager.GetItemUrl(germanProducts)">
          @Html.Sitecore().Field("Country Flag", germanProducts, new { mh = 100, mw = 100 })
        </a>
      </div>
    }
  }

  @* Footer *@
  <div>
    @Html.Sitecore().Rendering("{F9FDED76-28E3-4EDB-B74F-A5353EC880AF}")
  </div>

  <script src="../../../Js/pagination.js"></script>
</body>
</html>
