@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{
    var homeItem = Sitecore.Context.Database.Items.GetItem("{110D559F-DEA5-42EA-9C1C-8A5DF7E70EF9}");
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../../../Project/style.css">
    <link rel="shortcut icon" href="../../../wwwroot/bmw_logo.ico">
    <title>@Html.Sitecore().Field("Page Title", homeItem, new { DisableWebEdit = true })</title>
</head>

<body>
    @* Header *@
    <div>
      @Html.Sitecore().Rendering("{D67FE4A6-F41D-4A5D-8D04-2E728C22E1FF}")
    </div>

    @* Banner *@
    <div>
        @Html.Sitecore().Rendering("{CA72E5F8-3531-4E7C-B293-2EA8792A0751}")
    </div>

    <div>
        @Html.Sitecore().Field("Description", homeItem)
    </div>

    @* Footer *@
    <div>
      @Html.Sitecore().Rendering("{F9FDED76-28E3-4EDB-B74F-A5353EC880AF}")
    </div>
</body>
</html>